.card-results {
    background-color: lightgray;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.3);
    display: inline-block; 
    margin-top: 60px; 
    width: 500px;
    height: 200px;
    border-radius: 8px;
}