.form-section {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    background-color: lightgray;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    border-radius: 8px;
    margin-top: 60px;
    margin-left: 25%;
    width: 800px;
}

form label .form-input {
    font-weight: bold;
    
}

@media (max-width: 812px) {
    form {
        display: grid;
        grid-template-columns: 1fr;
    }
}

form label .form-input::placeholder {
    color: black;
  }

.btn-search {
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 40px;
}